* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #33475b;
}

a {
  text-decoration: none;
  color: #33475b;
}

.clearfix::after {
  content:'';
  display: table;
  clear: both;
}

button {
  background-color: #ff7a59;
  border-radius: 5px;
  border: 1px solid #ff7a59;
  color: white;
  padding: 10px;
}

.bg-pink {
  /* background-color: #fff2ee;  */
}

.bg-azure {
  /* background-color: blue; */
}

.bg-white {
  /* background-color: violet; */
}

.bg-gradient {
  background-color: #00a9b8;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: darkgray; */
  /* height: 500px; */
}

.blocco {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: paleturquoise;
  height: 80px;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}


.header-top {
  height: 70px;
  /* background-color: orange; */
}

#logo {
  padding-top: 20px;
}

#logo img {
  width: 105px;
  height: 30px;
  float: left;
}

nav {
  line-height: 30px;
}

.navigazione li {
  float: left;
  list-style: none;
  margin-left: 20px;

}

.navigazione {
  left: 500px;
  position: relative;
}

.banner {
  height: 400px;
  /* background-color: green; */
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: relative;

}

.jumbotron {
  width: 50%;
  /* height: 100%; */
  /* border: 1px solid black; */
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}

.jumbotron h1,p,button {
  margin-bottom: 20px;
}

.rubik {
  text-align: center;
}

.rubik img {
  height: 190px;
  margin-top: 40px;
}

.book {
  /* background-color: brown; */
  border: 1px solid black;
  height: 300px;
  width: 100%;
}

.iconabook {
  border: 1px solid black;
  height: 300px;
  width: 40%;
  text-align: center;
  float: left;
}

.iconabook img {
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;

}

.testobook {
  border: 1px solid black;
  height: 300px;
  width: 60%;
  /* background-color: beige; */
  float: left;
}

.cards {
  border: 1px solid black;
  height: 700px;
  width: 100%;
}

.lista {
  text-align: left;
}

.card {
  width: 33.3333%;
  border: 1px solid white;
  /* background-color: lime; */
  height: 700px;
  float: left;
  padding: 20px;
  text-align: center;
}

.card img{
  height: 100px;
}

.row {
  width: 100%;
  background-color: white;
  margin: auto;
  border: 1px solid black;
  /* text-align: center; */

}

.item {
  width: 250px;
  height: 250px;
  /* position: relative; */
  /* display: inline-block; */
  border: 1px solid black;
  float: left;
}
