* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

a {
  text-decoration: none;
  color: #33475b;
}

.clearfix::after {
  content:'';
  display: table;
  clear: both;
}

button {
  background-color: #ff7a59;
  border-radius: 5px;
  border: 1px solid #ff7a59;
  color: white;
  padding: 10px;
}

.bg-pink {
  /* background-color: #fff2ee;  */
}

.bg-azure {
  /* background-color: blue; */
}

.bg-white {
  /* background-color: violet; */
}

.bg-gradient {
  /* background-color: #00a9b8; */
  color: white;
}

.gradient {
  background-color: #00a9b8;
}

.bg-girl {
  /* background-color: purple; */
}

.bg-footer {
  /* background-color: #32495b; */
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.blocco {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #afebe4;
  height: 80px;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

.header-top {
  height: 70px;
}

#logo {
  padding-top: 20px;
}

#logo img {
  width: 105px;
  height: 30px;
  float: left;
}

nav {
  line-height: 30px;
}

.navigazione li {
  float: left;
  list-style: none;
  margin-left: 20px;
}

.navigazione {
  left: 500px;
  position: relative;
}

.banner {
  height: 400px;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: relative;
}

.jumbotron {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}

.jumbotron h1,p,button {
  margin-bottom: 20px;
}

.rubik {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.rubik img {
  height: 190px;
  margin-top: 40px;
}

.book {
  /* border: 1px solid black; */
  height: 300px;
  width: 100%;
}

.iconabook {
  /* border: 1px solid black; */
  height: 300px;
  width: 30%;
  text-align: center;
  float: left;
}

.iconabook img {
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.testobook {
  /* border: 1px solid black; */
  height: 300px;
  width: 70%;
  /* background-color: beige; */
  float: left;
}

.testobook h3,p {
  margin: 15px 0px;
}

.cards {
  /* border: 1px solid black; */
  height: 600px;
  width: 100%;
}

.lista {
  float: left;
  margin-right: 80px;

}

li {
  list-style: none;
}

.card {
  width: 33.3333%;
  /* border: 1px solid white; */
  height: 600px;
  float: left;
  padding: 20px;
  text-align: center;
}

.card img{
  height: 100px;
}

.card hr {
  margin-top: 50px;
  margin-bottom: 30px;
}

.testogrid {
  text-align: center;
}

.row {
  width: 100%;
  background-color: white;
  margin: auto;
  /* border: 1px solid black; */
  text-align: center;
}

.item {
  width: 25%;
  height: 200px;
  border: 1px solid black;
  float: left;
}

.girl {
  width: 100%;
  height: 500px;
  background-color: grey;
}

.jumbogirl {
  height: 40%;
  background-color: lightgrey;
  /* border: 1px solid black; */
}

/* .up {
  background-color: gray;
  height: 600px;
} */

.left {
  width: 25%;
  float: left;
  height: 200px;
  text-align: left;
  padding-left: 80px;
  padding-top: 40px;
}

.partners {
 float: left;
 width: 70%;
 text-align: center;
}

.tabella {
  /* height: 200px; */
}

.linea {
width: 600px;
height: 200px;
margin: auto;
padding-top: 40px;
}

.sponsor {
  float: left;
  width: 150px;
  height: 50px;
}

.sponsor img {
  width: 110px;
  height: 20px;
}

.start {
  width: 50%;
  float: left;
}

.foto {
  width: 50%;
  float: left;
  text-align: center;
}

.foto img {
  height: 250px;
  position: relative;
  left: 25px;
}

.fine {
  color: white;
  background-color: #32495b;
}

#footerbutton {
 background-color: #dadee0;
 color: #32495b;
 font-style:
}
