* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fissa {
  height: 70px;
  background-color: #f4f9fd;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

i {
  color: #ff7a59;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #7fd1de;
}

.navigazione a {
  text-decoration: none;
  color: #33475b;
}

.navigazione a:hover {
  color: #33475b
}


.clearfix::after {
  content:'';
  display: table;
  clear: both;
}

button {
  background-color: #ff7a59;
  border-radius: 5px;
  border: 1px solid #ff7a59;
  color: white;
  padding: 15px 30px;
}

.bg-pink {
  /* background-color: #fff2ee; */
}

.bg-azure {
  /* background-color: #afebe4; */
}

.bg-white {
  /* background-color: #f4f9fd; */
}

.white {
  background-color: #f4f9fd
}

.bg-gradient {
  /* background-image: linear-gradient(90deg, #00a7ba, #00b9a9); */
  color: white;
}

.gradient {
  background-image: linear-gradient(90deg, #00a7ba, #00b9a9);
}

.bg-girl {
  /* background-color: #ffffff; */
}

.bg-footer {
  /* background-color: #32495b; */
  color: white;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.blocco {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #afebe4;
  height: 80px;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

.header-top {
  height: 70px;
}

#logo {
  padding-top: 20px;
}

#logo img {
  width: 105px;
  height: 30px;
  float: left;
}

nav {
  line-height: 30px;
}

.navigazione li {
  float: left;
  list-style: none;
  margin-left: 20px;
}

.navigazione i {
  color: #334a5c
}

.navigazione {
  left: 500px;
  position: relative;
}

.banner {
  height: 400px;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  position: relative;
}

.jumbotron {
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
}

.jumbotron h1,p,button {
  margin-bottom: 20px;
}

.jumbotron h1 {
  font-size: 41px;
}

.rubik {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.rubik img {
  height: 190px;
  margin-top: 40px;
}

.book {
  border-radius: 3px;
  height: 300px;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px 2px #eaeff5;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.iconabook {
  height: 300px;
  width: 30%;
  text-align: center;
  float: left;
}

.iconabook img {
  height: 100px;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}

.testobook {
  height: 300px;
  width: 70%;
  float: left;
  padding-top: 40px;
}

.testobook h3,p {
  margin: 15px 0px;
}

.listab {
  text-align: left;
}

.lista li {
  margin: 20px 20px 20px 0px;
}

li {
  list-style: none;
}

.cards {
  height: 650px;
  width: 100%;
}

.card {
  width: 33.333%;
  height: 600px;
  float: left;
  text-align: center;
  padding: 60px;
}

.inside {
  box-shadow: 0px 0px 2px 2px #eaeff5;
  background-color: white;
  padding: 10px;
  height: 545px;
  border-radius: 3px;
}

.card img{
  height: 100px;
}

.card hr {
  margin-top: 50px;
  margin-bottom: 30px;
}

.testogrid {
  text-align: center;
}

.testogrid h2 {
  font-size: 28px;
  padding: 10px;
}

.grid {
  margin-top: 40px;
}

.row {
  width: 100%;
  background-color: white;
  margin: auto;
  text-align: center;
}

.item {
  width: 25%;
  /* height: 200px; */
  border:1px solid white;
  float: left;
  border-top: none;
  border-left: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.left {
  width: 25%;
  float: left;
  height: 200px;
  text-align: left;
  padding-left: 80px;
  padding-top: 40px;
}

.partners {
 float: left;
 width: 70%;
 text-align: center;
}

.linea {
width: 600px;
height: 200px;
margin: auto;
padding-top: 40px;
}

.sponsor {
  float: left;
  width: 150px;
  height: 50px;
}

.sponsor img {
  width: 110px;
  height: 20px;
}

.start {
  width: 50%;
  float: left;
}

.start h2 {
  font-size: 33px;
}

.foto {
  width: 50%;
  float: left;
  text-align: center;
}

.foto img {
  height: 250px;
  position: relative;
  left: 25px;
}

.fine {
  color: white;
  background-color: #32495b;
}

#footerbutton {
 background-color: #dadee0;
 color: #32495b;
 border: none;
 padding: 10px 15px;

}

.lista {
  float: left;
  margin-right: 80px;
  margin-left: 2px;
}

#social i {
  color: #cbd6e2
}

.language {
  background-color: #32495b;
}

.language hr {
  color: #6b7d8d;
  margin-top: 20px;
  margin-bottom: 40px;
}

.languages {
  text-align: center;
  color: white;
}

.languages span {
margin-right: 20px;
}

.logobottom {
  margin-left: 2px;
}
